<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifl.dao.LoginDao">
	<select id="loginchack" resultType="boolean" parameterType="Login" >
		select count(*) from Login where logId=#{logId} and pswd=#{pswd}
	</select>
	<select id="checkLoginByName" resultType="boolean" parameterType="string">
		select count(*) from login where logId=#{logId}
	</select>
</mapper>